*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
}

html, body{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#669ac4;
    font-family: 'Nunito', sans-serif;
    text-align:center;
}

h1,h2{
    font-family: 'Shadows Into Light', cursive;
}

.countContainer{
    width:90%;
    padding-bottom:5px;
    padding-top:5px;
    background-color:#f6b561;
    margin-top:5%;
}

header > ul{
   list-style-type: none;
   display:flex;
   flex-direction:row;
   justify-content:space-evenly;
   align-items:center;
}

.cat{
    width:25px;
    height:100%;
}

.quizArea{
    height:90%;
    width:90%;
    border:1px solid white;
    background:white;
}

.openingImg{
    height:50%;
}

section {
    height:100%;
    width:100%;
    padding:5%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
}

.questionArea > form {
    width:100%;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

.radioContainer{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.responseArea{
    width:100%;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

/*uses class .notDisplayed which is toggled on and off in JS*/
section.notDisplayed{
    display:none;
}

button{
    border:1px solid #f6b561;
    border-radius: 4px;
    padding:10px;
    background-color:#f6b561;
    font-family: 'Nunito', sans-serif;
    width:200px;
}

button:hover{
    background-color:orange;
    border:orange;
}

img{
    mix-blend-mode: multiply; 
}

.bottomImg{
    width:100%;
}

.responseImg{
    height:25%;
}




@media only screen and (min-width: 500px) {  
.countContainer{
    margin-top:0;
}
.bottomImg{
    display:none;
}
.quizArea{
    width:75%;
    height:75%;
}
.countContainer{
    width:75%;
    background-color:#f6b561;
    border:1px solid #f6b561;
}
body{
    background-image:url(images/background.jpg);
}
.responseImg{
    height:50%;
}
button{
width:300px;
}
}
