*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
}

html, body{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.countContainer{
    width:90%;
    padding-bottom:5px;
    padding-top:5px;
    border:1px solid black;
}

header > ul{
   list-style-type: none;
   display:flex;
   flex-direction:row;
   justify-content:space-evenly;
   align-items:center;
}

.cat{
    width:25px;
    height:100%;
}

.quizArea{
    height:90%;
    width:90%;
    border:1px solid black;
}

section {
    height:100%;
    width:100%;
    padding:10%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
}

.questionArea > form {
    display: flex;
    flex-direction:column;
    justify-content:space-around;
}


/*uses class .not-displayed which is toggled on and off in JS*/
section.notDisplayed{
    display:none;
}

button{
    border:1px solid grey;
    border-radius: 4px;
    padding:10px;
    background-color:grey;
}

button:hover{
    background-color:orange;
    border:orange;
}

img{
    mix-blend-mode: multiply; 
}

.bottomImg{
    width:100%;
}






@media only screen and (min-width: 500px) {  
.bottomImg{
    display:none;
}
.quizArea{
    width:75%;
    height:75%;
}
.countContainer{
    width:75%;
}
body{
    background-image:url();
}

}
